venv/
archive/
dataset/
data/
DeepSeek-OCR/
.env
quickquiz/Models/
datata_small/
dataset/
Services/__pycache__/
Services/VRD_OCR/
image_test/
PaddleOCR/

# Byte-compiled / optimized / DLL files
migrations/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.env
.env.local
db.sqlite3
data/
staticfiles/

# Ignore virtual environment directories
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variable files
.env

# Ignore log files
*.log
*/logs/

# Ignore SQLite database files
*.sqlite3
*.db

# Ignore documentation build files
*.ini

# Ignore build files frontend
node_modules/

